body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    color: #333;
    text-align: center;
}

p {
    color: #666;
}

form {
    text-align: center;
    margin-bottom: 20px;
}

label, input, button {
    margin: 5px;
}

/* Tab container */
.tab-container {
    width: 100%;
}

.tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

.tab button {
    flex: 1 1 auto;
    padding: 10px;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
    width: 100%;
    max-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tab-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab-header img {
    width: 50px;
    height: 50px;
}

.tab-summary p {
    margin-top: 5px;
    font-size: 14px;
    color: #333;
}

/* Day content */
.day-content {
    display: none;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-top: 20px;
}

.day-content h2 {
    text-align: center;
    color: #333;
}

/* Hourly forecast */
.hourly-forecast {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-top: 10px;
}

.hourly-column {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    flex: 0 0 auto;
    width: 100px;
}

.hourly-column img {
    width: 30px;
    height: 30px;
}

.precipitation-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.precipitation-container p {
    margin: 0;
    font-size: 14px;
    color: #666;
}

.precipitation-container img {
    width: 32px; /* Adjust the size to match the text */
    height: 32px;
    margin-left: 5px; /* Adds space between the text and the image */
}